<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>画像アップロード</title>
    <script>
        function previewImage(event) {
            const preview = document.getElementById('imagePreview');
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onload = function(e) {
                preview.src = e.target.result;  // 読み込んだ画像をプレビュー表示
            };

            if (file) {
                reader.readAsDataURL(file);  // ファイルをデータURLとして読み込む
            }
        }
    </script>
</head>
<body>
    <h1>画像アップロード</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}  <!-- フォームを表示 -->
        <button type="submit">アップロード</button>
    </form>
    
    <h2>プレビュー:</h2>
    <img id="imagePreview" src="#" alt="Image Preview" style="display: none; max-width: 300px;"> <!-- 画像プレビューのためのimgタグ -->

    <script>
        // 画像が選択されたらプレビューを表示
        document.querySelector('input[type="file"]').addEventListener('change', function(event) {
            const preview = document.getElementById('imagePreview');
            const file = event.target.files[0];
            
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    preview.src = e.target.result;  // 読み込んだ画像をプレビュー表示
                    preview.style.display = 'block';  // 画像が選択されたら表示
                };
                reader.readAsDataURL(file);  // ファイルをデータURLとして読み込む
            } else {
                preview.style.display = 'none';  // 画像が選択されなかったら非表示
            }
        });
    </script>
    
    <a href="{% url 'gallery' %}">戻る</a>  <!-- ギャラリーに戻るリンク -->
    {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a></li>
            {% if user.is_superuser %}
                <li><span class="admin-indicator"><i class="fas fa-crown"></i>Admin</span></li>
            {% endif %}
        {% endif %}
</body>
</html>